.padding {
  height: 80px;
  padding-top: 1px;
  padding-left: 1px;
  padding-bottom: 20px;
}

.block {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 10px 10px 15px grey;
}

.body-font {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  color: white;
}

.block img {
  border-radius: 50px;
  padding: 30px;
  width: 100%;
  height: 300px;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.block:hover img {
  filter: brightness(130%);
}

.block-header {
  font-size: calc(12px + 1vw);
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
}

.block-body {
  font-size: 1vw;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
}
.container_for_cover {
  position: relative;
}

.text-block-left {
  position: absolute;
  top: 12vw;
  left: 3vw;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 5vw;
}

.text-block-right {
  position: absolute;
  top: 12vw;
  right: 3vw;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 5vw;
}

.text-block-bottom {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1vw;
}
.navbar-nav span .nav-item {
  align-items: center;
  display: flex;
  font-size: 20px;
  color: black;
}

.navbar {
  margin-top: 0;
  margin-bottom: 1vw;
  padding-bottom: 10px;
  padding-top: 5px;
}

.navbar-inner {
  padding-top: 10px;
  padding-bottom: 10px;
}

.parent {
  display: grid;
  grid-gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 576px) {
  .navbar-collapse .navbar-toggle {
    display: block !important;
  }
}

.footer {
  background: black;
  font-family: "Noto Sans TC", sans-serif;
  color: white;
  font-size: 2vw;
  text-align: left;
}
.navbar-brand {
  height: auto !important;
}

.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  padding: 5px;
  margin-left: 5px;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

.navbar-text {
  font-size: 20px;
  color: black;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  text-align: center;
}

.dropdown-toggle::after {
  vertical-align: -0.745em;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin-bottom: 130px;
}

.carousel-outer-container {
  width: 100%;
  margin-top: 133px;
}
.footer_transition {
  transition: all linear 0.1s;
}

.footer_showing {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.footer_hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 300ms;
}

nav {
  padding: 25px 0 !important;
  transition: all linear 0.1s;
}

.navBar_small {
  padding: 5px 0 !important;
}

.dropbtn {
  background-color: lightgray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  height: 58px;
  margin-right: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.col {
  flex: 1 0 0%;
  margin-left: 16px;
}
