.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
}

.App-link {
	color: #61dafb;
}

.background-image {
	position: absolute;
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.button {
	position: fixed;
	bottom: 0;
	width: 50%;
	padding: 20px 20px 20px 20px;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	font-size: medium;
	color: black;
	background-color: whitesmoke;
}

.fbBtnContainer {
	display: none;
}
