body {
	margin: 0;
	font-family: "Noto Sans TC", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1 {
	font-size: x-large;
	font-weight: bold;
	color: black;
	padding-top: 10px;
	padding-left: 10px;
	text-align: start;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
