.user-container{
    margin-bottom: 80px;
}

.form-questions{
    margin-left:10px;
    margin-right:20px;
}

.logoutBtn{
    justify-content: center;
	padding: 5px;
	margin: 3px;
	color: white;
	width:210px;
	background: rgb(53, 120, 146);
}