.parkingItems {
  width: auto;
}

.parkingItemData {
  max-width: 90%;
  background-color: rgb(117, 155, 170);
  margin-bottom: 2vh;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.adminHeader {
  padding-left: 10px;
  padding-top: 5px;
  color: #0b394b;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.adminHeader:hover {
  cursor: pointer;
  background: rgba(127, 159, 172, 0.226);
}

.btn {
  justify-content: center;
  padding: 5px;
  margin: 3px;
  background: rgb(45, 119, 148);
  color: white;
}

.btn:hover {
  cursor: pointer;
  background: rgb(5, 49, 66);
  color: white;
}

.reportData {
  display: flex;
  flex-direction: row;
  min-width: 20vw;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.textbox {
  min-width: 50vw;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
}

.subtitle {
  min-width: 50px;
}

.dataContainer {
  padding-bottom: 1px;
}

.logoutBtn {
  justify-content: center;
  padding: 5px;
  margin: 3px;
  color: white;
  width: 210px;
  background: rgb(53, 120, 146);
}

.col {
  padding-right: 0px;
}
