.login-form-container {
	justify-content: center;
	height: 100vh;
	background: rgb(162, 166, 161);
	border: solid 10px white;
	border-radius: 30px;
	box-shadow: 5px 10px 10px gainsboro;
	color: white;
	font-weight: bold;
	font-size: larger;
}

.login-form {
	padding: 100px 30px 5px 30px;
}
.btn {
	justify-content: center;
	padding: 5px;
	margin: 3px;
	background: rgb(45, 119, 148);
	color: white;
	width:70px;
}

.btn:hover {
	cursor: pointer;
	background: rgb(5, 49, 66);
	color: white;
}

.title {
	display: flex;
}

.input {
	margin-bottom: 10px;
}
body {
	color: black;
}

.loginBtn{
	justify-content: center;
	padding: 5px;
	margin: 3px;
	color: white;
	width:210px;
	background: rgb(63, 65, 63);
}
