.background-image {
	position: absolute;
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 0 !important;
	margin-right: 0 !important;
}

.mainlogo {
	position: relative;
	top: 10vh;
	width: 70%;
	height: auto;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}
