body {
	font-family: "Noto Sans TC", sans-serif;
	font-size: medium !important;
}

.navbar {
	border-bottom: solid 1px white;
	background-color: white;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.bottom-tab-nav {
	border-top: solid 1px white;
}
.nav-link,
.bottom-nav-link {
	color: rgba(60, 109, 129, 0.7);
}
.bottom-nav-link.active {
	color: rgba(60, 109, 129, 0.7);
}
.bottom-tab-label {
	font-size: 12px;
}

a:hover {
	color: rgb(60, 109, 129);
}

.navbar fixed-bottom navbar-light {
	padding-top: 5px;
}
